<div class="container-fluid footer" style="padding-bottom: 3px">
	 ⒸCINEMA XXII<ul class="social-icon animate">
                  <li><a href="https://www.facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                  <li><a href="https://www.twitter.com" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.google.com" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                

</div>

