<!--<div class="container">
	<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
				<div class="col-sm-1"></div>
				<div class="col-sm-10" style=""><input type="text" size="128" placeholder="Search here.." style="border-radius: 5px"></div>
				<div class="col-sm-1"></div>
	</div>
	<div class="row">
				<div class="col-sm-1"></div>
					<a routerLink="/blood">
				<div class="col-sm-5"><img src="assets\images\p1.jpg"></div>
					</a>
					<a routerLink="/starwars">
				<div class="col-sm-5"><img src="assets\images\p2.jpg"></div>
					</a>
				<div class="col-sm-1"></div>
	</div>
	<div class="row">
				<div class="col-sm-1"></div>
					<a routerLink="/mononoke">
				<div class="col-sm-5"><img src="assets\images\p3.jpg"></div>
					</a>
					<a routerLink="/onceuponatime">
				<div class="col-sm-5"><img src="assets\images\p4.jpg"></div>
					</a>
				<div class="col-sm-1"></div>
	</div>
</div>-->

<script src="./../../assets/filter.js"></script>

<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for movies.." title="Type in a name" size="128" style="border-radius: 5px">
		</div>
		<div class="col-sm-1"></div>
	</div>

	<div class ="row"  style="color: white">
		<div class="col-sm-10" align="center" style="padding-left: 150px">
		<table id="myTable">
  			<tr>
    			<td><img src="assets\images\p1.jpg"> <figcaption><div class="bfont">Tomb Raider</div></figcaption></td>
  			</tr>
  			<tr>
  				<td><img src="assets\images\p2.jpg"> <figcaption><div class="bfont">Pacific Rim</div></figcaption></td>	
  			</tr>
  			<tr>
  				<td><img src="assets\images\p3.jpg"> <figcaption><div class="bfont">Princess Mononoke</div></figcaption></td>
  			</tr>
  			<tr>
  				<td><img src="assets\images\p4.jpg"> <figcaption><div class="bfont">Once Upon a Time in America</div></figcaption></td>
  			</tr>
		</table>
		</div>
	</div>
