img{
height: 450px; 
width: 300px; 
object-fit: contain
}

figcaption{
	text-align: center;
}


@font-face{
	font-family: GothamB;
}

.bfont{
	font-family: GothamB;
	font-size: 17px;
	color:#ffffff;
}

