<div class="container signup">

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" [(ngModel)]="register.name" class="form-control" id="name">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="email">E-mail:</label>
				<input type="text" [(ngModel)]="register.email" class="form-control" id="email">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="text" [(ngModel)]="register.password" class="form-control" id="password">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="phone">Phone Number:</label>
				<input type="text" [(ngModel)]="register.phone" class="form-control" id="phone">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="date">Date of Birth:</label>
				<input type="text" [(ngModel)]="register.dob" class="form-control" id="date">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group">
				<button type="button" class="btn btn-submit" (click)="submitPost()">SIGN UP</button>
			</div>
		</div>
	</div>

</div>

