<div class="container" align="center">
	<div class="row">
		                                <div class="col-md-12">
                                    <!-- Nav tabs --><div class="card">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                                        <li role="presentation"><a href="#transaction" aria-controls="Transaction" role="tab" data-toggle="tab">Transaction</a></li>
                                        <li role="presentation"><a href="#topup" aria-controls="TopUp" role="tab" data-toggle="tab">Top Up</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="profile">
                                        	<p>Username: {{username}}</p>
                                        	
                                        	<p>Email: {{useremail}}</p>
                                        	
                                        	<p>Phone Number: {{userphone}}</p>

                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="transaction"><app-transaction></app-transaction></div>
                                        <div role="tabpanel" class="tab-pane" id="topup"><app-topup></app-topup></div>
                                    </div>
</div>
                                </div>
	</div>
</div>
