<div class= "container form">
	<div class = "row" align="center">
		<div class = "col-sm-12">
			<button type="button" class="btn btn-default" (click)="transaction()">Update</button>
		</div>
	<div class="row">
	<div class = "col-sm-12">
	<table border="1">
		<tr>
			<th>TICKET ID</th>
			<th>MOVIE NAME</th>
			<th>MOVIE TIME</th>
			<th>PRICE</th>
		</tr>
		<tr>
			<td>{{TransactionId[0]}}</td>
			<td>{{MovieName[0]}}</td>
			<td>{{MovieTime[0]}}</td>
			<td>{{MoviePrice[0]}}</td>
		</tr>
		<tr>
			<td>{{TransactionId[1]}}</td>
			<td>{{MovieName[1]}}</td>
			<td>{{MovieTime[1]}}</td>
			<td>{{MoviePrice[1]}}</td>
		</tr>
		<tr>
			<td>{{TransactionId[2]}}</td>
			<td>{{MovieName[2]}}</td>
			<td>{{MovieTime[2]}}</td>
			<td>{{MoviePrice[2]}}</td>
		</tr>
	</table>
</div>
	</div>
</div>