
		<div align="center">
			<button type="button" class="btn btn-default" (click)="transaction()">Update</button>
		</div>

<div>
	<table border="1" align="center">
		<tr>
			<th>TICKET ID</th>
			<th>MOVIE NAME</th>
			<th>MOVIE TIME</th>
			<th>PRICE</th>
		</tr>
		<tr>
			<td>{{TransactionId[0]}}</td>
			<td>{{MovieName[0]}}</td>
			<td>{{MovieTime[0]}}</td>
			<td>{{MoviePrice[0]}}</td>
		</tr>
		<tr>
			<td>{{TransactionId[1]}}</td>
			<td>{{MovieName[1]}}</td>
			<td>{{MovieTime[1]}}</td>
			<td>{{MoviePrice[1]}}</td>
		</tr>
		<tr>
			<td>{{TransactionId[2]}}</td>
			<td>{{MovieName[2]}}</td>
			<td>{{MovieTime[2]}}</td>
			<td>{{MoviePrice[2]}}</td>
		</tr>
		<tr>
			<td>{{TransactionId[3]}}</td>
			<td>{{MovieName[3]}}</td>
			<td>{{MovieTime[3]}}</td>
			<td>{{MoviePrice[3]}}</td>
		</tr>
		<tr>
			<td>{{TransactionId[4]}}</td>
			<td>{{MovieName[4]}}</td>
			<td>{{MovieTime[4]}}</td>
			<td>{{MoviePrice[4]}}</td>
		</tr>
		<tr>
			<td>{{TransactionId[5]}}</td>
			<td>{{MovieName[5]}}</td>
			<td>{{MovieTime[5]}}</td>
			<td>{{MoviePrice[5]}}</td>
		</tr>
	</table>
</div>
